@tailwind base;
@tailwind components;
@tailwind utilities;

.skinny {
    width: 10%;
    text-align: center;
}
.wide {
    width: 40%;
    text-align: left;
}

@layer base {
    body {
        user-select: none;
        font-family: 'droidmono', monospace;
        @apply flex justify-center bg-black text-slate-500 px-4 tracking-wider mt-4 mx-auto;
    }
}

@font-face {
    font-family: 'droidmono'; /* Specify your font family name */
    src: url('./Fonts/DroidSansMono.ttf') format('truetype'); /* Path to your TTF file */
}